<h1 mat-dialog>Update password</h1>
<form #passwordForm="ngForm" (ngSubmit)="confirm()">
    <div mat-dialog-content>
        <mat-form-field class="width-full">
            <input type="password" matInput (keydown.space)="$event.preventDefault()" onDrag="return false"
                onDrop="return false" onPaste="return false" autocomplete="off" placeholder="Old password"
                name="oldPassword" #oldPassword="ngModel" [(ngModel)]="passwordRequest.oldPassword" minlength="6"
                maxlength="20" required>
            <mat-error *ngIf="oldPassword.errors && (oldPassword.dirty || oldPassword.touched)">
                <div *ngIf="oldPassword.errors.required">Old Password required</div>
                <div *ngIf="oldPassword.errors.minlength">Old password must be in 6 and 20</div>
            </mat-error>
        </mat-form-field>
        <mat-form-field class="width-full">
            <input type="password" matInput (keydown.space)="$event.preventDefault()" onDrag="return false"
                onDrop="return false" onPaste="return false" autocomplete="off" placeholder="New password"
                name="newPassword" #newPassword="ngModel" [(ngModel)]="passwordRequest.newPassword"
                (blur)="confirmPasswordValidator()" minlength="6" maxlength="20" required>
            <mat-error *ngIf="newPassword.errors && (newPassword.dirty || newPassword.touched)">
                <div *ngIf="newPassword.errors.required">New password is required</div>
                <div *ngIf="newPassword.errors.minlength">New password must be in 6 and 20</div>
            </mat-error>
        </mat-form-field>
        <mat-form-field class="width-full">
            <input type="password" matInput (keydown.space)="$event.preventDefault()" onDrag="return false"
                onDrop="return false" onPaste="return false" autocomplete="off" placeholder="Confirm password"
                name="confirmPassword" #confirmPassword="ngModel" [(ngModel)]="passwordRequest.confirmPassword"
                (ngModelChange)="confirmPasswordValidator()" maxlength="20" required>
            <mat-error *ngIf="confirmPassword.errors && (confirmPassword.dirty || confirmPassword.touched)">
                <div *ngIf="confirmPassword.errors.required">Confirm password required</div>
                <div *ngIf="confirmPassword.errors?.mismatch">Password must match</div>
            </mat-error>
        </mat-form-field>
        <mat-error *ngIf="errorBackEnd?.message">
            <p class="error-pre-line">{{errorBackEnd.message}}</p>
        </mat-error>
    </div>
    <div mat-dialog-actions>
        <button mat-button type="button" (click)="cancel()">Cancel</button>
        <button mat-raised-button color="primary" type="submit"
            [disabled]="passwordForm.invalid || errorBackEnd.message">Confirm</button>
    </div>
</form>