.authentication {
  // background: linear-gradient(-45deg, #ee7752, #e73c7e, #43a6d5, #23d5ab);
  background: url("https://images-cdn.welcomesoftware.com/Zz03ZTY0Mzk3MDhlNDgxMWViYmRmNWY3MjZjM2QxZTdiZg==");
  background-size: 200% 200%;
  position: relative;
  height: 100vh;
  animation: change 100s ease-in-out infinite;

  &__title {
    color: var(--main-color);
    font-size: 3rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  }

  &__subtitle {
    color: var(--main-color);
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  }
}

@keyframes change {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0 50%;
  }
}
