<nav mat-tab-nav-bar>
  <button mat-button color="primary" class="nav-button">
    <mat-tab-link label="Yser details" [routerLink]="['/admin']"
      >See users details
    </mat-tab-link>
  </button>
  <button mat-button color="primary" class="nav-button">
    <mat-tab-link label="Update a board" [routerLink]="['/admin/board']"
      >Update a board
    </mat-tab-link>
  </button>

  <button mat-button color="primary" class="nav-button">
    <mat-tab-link label="Third" [routerLink]="['/admin/details']">
      Check details</mat-tab-link
    >
  </button>
</nav>
